<div class="container-fluid home">
    <div class="row carousel-row">
        <div class="col-12">
            <app-carousel></app-carousel>
        </div>
    </div>
    <div class="row about-row">
        <div class="col-12">
            <app-home-about></app-home-about>
        </div>
    </div>
    <div class="row interests-row">
        <div class="col-12">
            <app-home-interests></app-home-interests>
        </div>
    </div>
</div>