<div class="about-young-container">
  <img
    src="https://firebasestorage.googleapis.com/v0/b/artur-sobolewski.appspot.com/o/images%2Fbackground%2Fhiding.jpg?alt=media&token=0e77eb98-92ce-4cb4-a210-ec1e34837017"
    alt="Hiding background.">
  <div class="container about-young-row-container">
    <div class="row">
      <div class="col-12">
        <div class="text-container">
          <h3 [innerHTML]="'about-young-title' | translate"></h3>
          <p [innerHTML]="'about-young-text' | translate"></p>
        </div>
      </div>
    </div>
  </div>
</div>