@import "src/assets/css/mixins.scss";

.about-wheel-container {
  text-align: center;
  .col-12 {
    padding: 20px 0;
  }
  .text-container {
    background: white;
    @media only screen and (max-width: 750px) {
      h3 {
        font-size: 28px;
      }
      p {
        font-size: 16px;
      }
    }
  }
  .img-container {
    padding: 0 12px 0 12px;
    img {
      max-height: 450px;
      max-width: 100%;
      border: 10px solid white;
      @include box-shadow(2px, 2px, 12px, black);
      @include border-radius(50%);
    }
  }
}
