<div class="container white-row-container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6">
        <div class="img-container">
          <img src="https://firebasestorage.googleapis.com/v0/b/artur-sobolewski.appspot.com/o/images%2Fbackground%2FTalisman.jpg?alt=media&token=efdfbab4-651d-45bf-992c-8e1418bf6f72" alt="My picture.">
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="text-container">
          <h3 [innerHTML]="'about-games-title' | translate"></h3>
          <p [innerHTML]="'about-games-text' | translate"></p>
        </div>
      </div>
    </div>
  </div>