#lang-bar {
    position: fixed;
    bottom: 0;
    z-index: 10;
}

@mixin lang-mixin() {
	padding: 0;
    margin-right: 10px;
    margin-bottom: 15px;
    overflow: hidden;
    img {
        display: flex;
        height: 40px;
        width: 40px;
    }
}

#polish-lang {
    margin-left: 15px;
    @include lang-mixin();
}

#english-lang {
    @include lang-mixin();
}