<div id="lang-bar">
  <button id="polish-lang" (click)="changeLang('pl')"><img src="/assets/icons/poland.jpg"></button>
  <button id="english-lang" (click)="changeLang('en')"><img src="/assets/icons/england.jpg"></button>
</div>
