<div class="container white-row-container">
  <div class="row align-items-center">
    <div class="col-12 col-md-4">
      <div class="img-container">
        <img src="https://firebasestorage.googleapis.com/v0/b/artur-sobolewski.appspot.com/o/images%2Fme%2Fmy-picture.png?alt=media&token=5ba62b18-2482-410f-96cd-f69c196883dd" alt="My picture.">
      </div>
    </div>
    <div class="col-12 col-md-8">
      <div class="text-container">
        <h3 [innerHTML]="'home-about-title' | translate"></h3>
        <p [innerHTML]="'home-about-text' | translate"></p>
        <button mat-button routerLinkActive="active-button" routerLink="/about">{{ 'app-about' | translate}}</button>
      </div>
    </div>
  </div>
</div>