button:focus {
  outline: none;
}

button {
  z-index: 999;
  text-decoration: none;
  padding: 6px 12px;
  @include text-shadow(1px, 1px, 2px, black);
  @include border-radius(20px);
  @include button-display();
}

button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.active-button {
  background-color: $button-active-color;
  transform: scale(1.1);
  @include box-shadow(2px, 2px, 4px, rgb(0, 0, 0));
}
