@import "./mixins.scss";
@import "./buttons.scss";
@import "./mat.scss";
@import "./row.scss";
@import "./text.scss";

body {
  * {
    @include text-shadow(1px, 1px, 2px, black);
    font-family: "Times New Roman", Times, serif;
    text-align: center;
  }
  // background: url(assets/images/background/test.png) no-repeat center/cover fixed;
}

.container-fluid {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow: hidden;
}

.text-container {
  padding: 15px 8px !important;
  margin: 8px !important;
  background-color: $text-bg-color;
  @include border-radius(20px);
  @include box-shadow(1px, 1px, 8px, black);
}
