$white-row-padding: 100px 0;

@mixin img-border {
  max-height: 450px;
  max-width: 100%;
  border: 8px solid white;
  @include box-shadow(2px, 2px, 12px, black);
  @include border-radius(50%);
}

.row {
  overflow: hidden;
}

.home {
  .about-row {
    padding: $white-row-padding;
  }
}

.about {
  .games-row,
  .wheel-row {
    padding: $white-row-padding;
  }
}

.white-row-container {
  .col-12 {
    padding: 20px 0;
  }
  .text-container {
    background: white;
  }
  .img-container {
    padding: 0 12px 0 12px;
    img {
      @include img-border();
    }
  }
}
