<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="'over'" [opened]="false">
    <mat-nav-list>
      <!-- <a mat-list-item ><img src="./assets/icons/logo-drborys1.png" alt="Ilona logo." style="height: 45px; padding-bottom: 10px;"></a> -->
      <button mat-list-item (click)="drawer.toggle()" routerLinkActive="active-button" routerLink="/home">{{ 'app-home' | translate}}</button>
      <button mat-list-item (click)="drawer.toggle()" routerLinkActive="active-button" routerLink="/about">{{ 'app-about' | translate}}</button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <!-- <span><img src="./assets/icons/logo-drborys1.png" alt="Ilona logo." style="height: 45px; padding-top: 5px;"></span> -->
      <span class="spacer"></span>
      <div class="navbar-mid-a">
        <button *ngIf="!(isHandset$ | async)" mat-button routerLinkActive="active-button" routerLink="/home">{{ 'app-home' | translate}}</button>
        <button *ngIf="!(isHandset$ | async)" mat-button routerLinkActive="active-button" routerLink="/about">{{ 'app-about' | translate}}</button>
      </div>
      <button class="icon-container" mat-button matTooltip='Contact me.'>
        <a href="https://www.linkedin.com/in/artur-sobolewski/" target="_blank"><img src="https://firebasestorage.googleapis.com/v0/b/artur-sobolewski.appspot.com/o/images%2Flinkedin.png?alt=media&token=b0b809c9-d0fe-45ab-9d82-8925f0e808e9" alt="Linkedin logo."></a>
      </button>
      <button class="icon-container burger" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon" color="black">menu</mat-icon>
      </button>
    </mat-toolbar>
    <ng-component></ng-component>
  </mat-sidenav-content>
</mat-sidenav-container>