@import "src/assets/css/mixins.scss";
@import "src/assets/css/buttons.scss";

.sidenav-container {
  // height: 100%; this line was destroying windows.scrollTo(0, 0)
  background: none;
}
.icon-container {
  position: relative;
  height: 44px;
  width: 44px;
  mat-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  a {
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 23px;
    }
  }
}
.sidenav {
  width: 250px;
  height: 320px;
  background: none;
  @include box-shadow-none;
}
mat-toolbar {
  background: none;
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 0 30px;
  @media only screen and (max-width: 749px) {
    padding: 0 15px;
  }
}
.spacer {
  flex: 1 1 auto;
}
span {
  img {
    padding: auto;
  }
}
mat-sidenav-content {
  min-height: 100vh;
}

.navbar-mid-a {
  * {
    font-size: 18px;
  }
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  :last-of-type {
    margin-left: 15px;
  }
}
.burger {
  margin-left: 10px;
}
mat-nav-list button {
  width: 200px;
  margin: 20px;
  color: white;
  @include text-shadow(1px, 1px, 2px, black);
  @include border-radius(20px);
}
