@import "src/assets/css/mixins.scss";

@mixin img-border {
  max-height: 450px;
  max-width: 100%;
  border: 8px solid white;
  @include box-shadow(2px, 2px, 12px, black);
  @include border-radius(50%);
}

.about-work-container {
  background-color: $backround-color-default;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.about-work-row-container {
  height: 100vh;
  .row {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
  }
  .col-12 {
    padding: 20px 0;
  }
  .img-container {
    padding: 0 10px;
    position: relative;
    img {
      @include img-border();
      @media only screen and (max-width: 992px) {
        max-height: 30vh;
      }
    }
  }
  .text-container {
    color: white;
    padding: 0 10px;
    text-align: center;
  }
}
