<div class="about-work-container">
    <img src="https://firebasestorage.googleapis.com/v0/b/artur-sobolewski.appspot.com/o/images%2Fbackground%2Fcode.jpg?alt=media&token=23b11c02-6444-4309-97a0-711358800568" alt="Code image.">
    <div class="container about-work-row-container">
      <div class="row align-items-center">
        <div class="col-12 col-lg-7">
          <div class="img-container">
            <img src="https://firebasestorage.googleapis.com/v0/b/artur-sobolewski.appspot.com/o/images%2Fbackground%2Flaser.jpg?alt=media&token=b5a60201-b602-400a-8a7d-ada13990aec6" alt="Laser machine.">
          </div>
        </div>
        <div class="col-12 col-lg-5">
          <div class="text-container">
            <h3 [innerHTML]="'about-work-title' | translate"></h3>
            <p [innerHTML]="'about-work-text' | translate"></p>
          </div>
        </div>
      </div>
    </div>
  </div>