<div class="container white-row-container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-6">
        <div class="img-container">
          <img src="https://firebasestorage.googleapis.com/v0/b/artur-sobolewski.appspot.com/o/images%2Fbackground%2Fwheel.jpg?alt=media&token=bbf3e544-3125-43e2-bb78-f08733d1b1af" alt="My picture.">
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="text-container">
          <h3 [innerHTML]="'about-wheel-title' | translate"></h3>
          <p [innerHTML]="'about-wheel-text' | translate"></p>
        </div>
      </div>
    </div>
  </div>