@import "src/assets/css/mixins.scss";

.home-interests-container {
  background-color: $backround-color-default;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  > img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.home-interests-row-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  .col-12 {
    padding: 20px 0;
  }
  .img-container {
    padding: 0 10px;
    position: relative;
    img {
      display: block;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-height: 100%;
      max-width: 100%;
      border: 10px solid white;
      @include box-shadow(2px, 2px, 12px, black);
      @include border-radius(50%);
      @media only screen and (max-width: 767px) {
        max-height: 30vh;
      }
    }
  }
  .text-container {
    color: white;
    padding: 0 10px;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}