<div class="home-interests-container">
  <img src="https://firebasestorage.googleapis.com/v0/b/artur-sobolewski.appspot.com/o/images%2Fbackground%2Fforest.jpg?alt=media&token=845028d0-a93a-488a-aeb4-c6e42a867bf4" alt="Forest background.">
  <div class="container home-interests-row-container">
    <div class="row">
      <div class="col-12 col-sm-5 col-md-7 img-container">
        <img src="https://firebasestorage.googleapis.com/v0/b/artur-sobolewski.appspot.com/o/images%2Fme%2Fja_luk.jpg?alt=media&token=d0bfa2d4-946a-4a27-834c-243672dbc5c3" alt="Me shooting using bow.">
      </div>
      <div class="col-12 col-sm-7 col-md-5">
        <div class="text-container">
          <h3 [innerHTML]="'home-interests-title' | translate"></h3>
          <p [innerHTML]="'home-interests-text' | translate"></p>
          <button mat-button routerLinkActive="active-button" routerLink="/about" disabled>{{ 'app-interests' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>