@import 'src/assets/css/mixins.scss';

.video-container {
  background-color: $backround-color-default;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  video {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
  z-index: 0;
  h3 {
    font-size: 38px;
  }
  p {
    font-size: 20px;
  }
  @media only screen and (max-width: 750px) {
    h3 {
      font-size: 30px;
    }
    p {
      font-size: 16px;
    }
  }
}
