<ngb-carousel *ngIf="videos">
  <ng-template ngbSlide>
    <!-- <img class="img-responsive center-block" [src]="images[0]" alt="Random first slide"> -->
    <div class="video-container">
      <video class="loading" autoplay loop preload>
        <source [src]="videos[0]" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
      </video>
    </div>
    <div class="carousel-caption">
      <h3 [innerHTML]="'home-car-first-title' | translate"></h3>
      <p [innerHTML]="'home-car-first-text' | translate"></p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="video-container">
      <video class="loading" autoplay loop preload>
        <source [src]="videos[1]" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
      </video>
    </div>
    <div class="carousel-caption">
      <h3 [innerHTML]="'home-car-second-title' | translate"></h3>
      <p [innerHTML]="'home-car-second-text' | translate"></p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="video-container">
      <video class="loading" autoplay loop preload>
        <source [src]="videos[2]" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
      </video>
    </div>
    <div class="carousel-caption">
      <h3 [innerHTML]="'home-car-third-title' | translate"></h3>
      <p [innerHTML]="'home-car-third-text' | translate"></p>
    </div>
  </ng-template>
</ngb-carousel>