<div class="container-fluid about">
  <div class="row young-row">
    <div class="col-12">
      <app-about-young></app-about-young>
    </div>
  </div>
  <div class="row games-row">
    <div class="col-12">
      <app-about-games></app-about-games>
    </div>
  </div>
  <div class="row work-row">
    <div class="col-12">
      <app-about-work></app-about-work>
    </div>
  </div>
  <div class="row wheel-row">
    <div class="col-12">
      <app-about-wheel></app-about-wheel>
    </div>
  </div>
</div>